.footer {
  background-color: #e4f7f9;
  color: #000000;
  text-align: center;
  padding: 10px;
  margin-left: 100px; /* offset for sidebar */
  position: relative;
  bottom: 0;
  width: calc(100% - 220px);
}

.footer p {
  margin:  0;
  font-size: 15px;
}
